<div class="conv-list">
  <% @conversations.each do |con| %>
  <div class="conv-item">
    <div class="last-msg"><%= con.messages.last.body %></div>
    <div class="enter-con"><%= link_to '->', con, :remote => true %></div>
    <div class="del-con"><%= link_to 'x', con, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></div>
  </div>
  <% end %>
</div>