%a(href="/route_records/#{reqed_id}" data-remote="true")
	%button.btn.detail-btn
		è¯¦ç»†
%button.btn.accept-btn
	= link_to 'æ¥å—', accept_request_relation_path(request_relation, :reqed_id => reqed_id), :remote => true, :method => :put