%h5.panel_title
	筛选
#filter_type.filter_container
	%label.radio
		%span.icon
		%span.icon-to-fade
		%input#optionsRadio1{"type"=>"radio", "name"=>"optionsRadios", "value"=>"option1", "checked"=>""}
		常规线路
	%label.radio
		%span.icon
		%span.icon-to-fade
		%input#optionsRadio2{"type"=>"radio", "name"=>"optionsRadios", "value"=>"option2"}
		单次线路
%h5.panel_title
	距离
#filter_dist.filter_container
	#slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled="false")
		.ui-slider-segment
		.ui-slider-segment
		.ui-slider-segment
		.ui-slider-range.ui-widget-header.ui-slider-range-min(style="width: 25%;")
		%a.ui-slider-handle.ui-state-default.ui-corner-all(href="#" style="left: 25%;")
%h5.panel_title
	出发时刻
#filter_set.filter_container
	#slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled="false")
		.ui-slider-segment
		.ui-slider-segment
		.ui-slider-segment
		.ui-slider-range.ui-widget-header.ui-slider-range-min(style="width: 25%;")
		%a.ui-slider-handle.ui-state-default.ui-corner-all(href="#" style="left: 25%;")


