<%= form_for @route_record do |f| %>
<div id="mainbar">
	<%= f.text_field :from, :placeholder => "起点", :"data-provide" => "typehead" %>
	<%= f.text_field :to, :placeholder => "终点", :"data-provide" => "typehead" %>
	<div class="btn-group">
		<button class="btn">搜</button>
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#"><%= f.submit "新建路线" %></a></li>
		</ul>
	</div>
</div>
<% end %>