<% unless @user.fav_relations.empty? %>
<table class="table table-hover following_routes" summary="User relationships">
	<thead>
		<tr>
			<th>ID</th>
			<th>起点</th>
			<th>终点</th>
			<th>Data</th>
			<th>lng_s</th>
			<th>lng_d</th>
			<th>创建时间</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @following.each do |following| %>
		<tr>
			<td class="id"><%= following.id %></td>
			<td class="from"><%= following.from %></td>
			<td class="to"><%= following.to %></td>
			<td class="created"><%= time_ago_in_words(following.created_at) %> ago</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>