<div id="main_map">
	<div id="map_container" class="imgborder"></div>
</div>
<%= render 'shared/search_form' %>
<%= render 'layouts/finish_new' %>
<div>debug:</div>
<div><%= @debug if !@debug.nil? %></div><br>

<%= form_tag do %>
	debug content
<% end %>