#search_panel
	= render 'shared/search_view'
#search_result_wrapper
	#filter_wrapper
		#map_left.imgborder
			#map_container.imgborder
		#filter_panel
			= render 'shared/filter_panel'
	#search_result