%a(href="/route_records/#{reqed_id}" data-remote="true")
	%button.btn.detail-btn
		详细
- if @new_request
	- req_id = @new_request.id
	- request_relation = RequestRelation.find_by_req_id(req_id)
	%button.btn.cancel-btn
		= link_to '取消', request_relation_path(request_relation, :opt => 'direct'), :remote => true, :method => :delete
- else
	- req_id = @match_request.id
	- request_relation = RequestRelation.where("reqed_id=?", reqed_id).first
	%button.btn.cancel-btn
		= link_to '取消', request_relation_path(request_relation), :remote => true, :method => :delete