.chart_info
	.chart_btn
		%button
			+
	.chart_from
		.p_text
			match_request.from
		.p_dist
			distance in km
	.chart_box
		.chart_bar
			match_request.id
	.chart_to
		.p_text
			match_request.to
		.p_dist
			distance in km