<div class="scroll_table">
	<table class="table table-hover match_results" summary="User match_results">
		<thead>
			<tr>
				<th>ID</th>
				<th>起点</th>
				<th>终点</th>
				<th>创建时间</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => "match_result", :collection => @match_results %>
		</tbody>
	</table>
</div>