<%= form_for current_user.fav_relations.build(:route_id => route_record_id), :remote => true do |f| %>
<div><%= f.hidden_field :route_id %></div>
<div class="actions"><%= f.submit "+" %></div>
<% end %>