%a(href="/route_records/#{reqed_id}" data-remote="true")
	%button.btn.detail-btn
		详细
%button.btn.cancel-btn
	= link_to '申请', request_relations_path(:reqed_id => reqed_id), :remote => true, :method => :post