%a(href="/route_records/#{reqed_id}" data-remote="true")
	%button.btn.detail-btn
		详细
%button.btn.cancel-btn
	= link_to '取消', request_relation_path(request_relation, :reqed_id => reqed_id), :remote => true, :method => 'delete'