// alert("<%= escape_javascript( @match_requests.count.to_s ) %>");
// var toggle_fold = $("div#route_record_<%= @route_record.id %> div#toggle_fold > a");
var match_requests = $("<%= escape_javascript( render 'show' ) %></div>");
var target = $('#route_record_overlay');

$('body').addClass('my_routes_back_enabled');
target.html(match_requests);