= div_for(route, :class => "route_block") do
	= render :partial => 'routes/route', :object => route
	.route_action
		%a(href="/routes/#{route.id}" data-remote="true")
			%button.btn#view-btn
				详细
		.route_fav
			%span.fui-heart-24