<% if user_signed_in? %>
<a id="mailbox-btn" href="javascript:void(0)" data-original-title="信箱">
	<i class="icon icon-white icon-envelope"></i> 
	<span>Mailbox</span>
</a>

<div class="mailbox_sidebar">
	<div class="mailbox_sidebar_back">&lt;</div>
	<div class="mailbox_sidebar_close">x</div>
	<div id="mailbox_sidebar_wrapper">
		<header></header>
		<section id="mailbox_sidebar_body">
			<div id="mailbox_sidebar_inner">
				<ul class="nav nav-tabs">
					<li class="active tab conversations"><a href="#conversations" data-toggle="tab">对话</a></li>
					<li class="tab contacts"><a href="#contacts" data-toggle="tab">联系人</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="conversations">
						<div class="scrollableArea scrollableAreaShadow">
							<div class="convContent">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="contacts">
					</div>
			
				</div>
			</div>
		</section>
	</div>
</div>
<% else %>
<% end %>